<div class="d-flex justify-content-between color-white font-bold">
  <div>
    <h4>Nbr de games: <%= @number_of_games %></h4>
    <h4>Nbr de parties: <%= @number_of_parties %>/5</h4>
  </div>

  <div class="text-right">
    <h4>Meilleur score: <%= @best_score %></h4>
    <h4>Score actuel: <%= @game_score %></h4>
  </div>
</div>

<%= render 'shared/grid', letters: @party.ten_letters_list %>

<% if @party.score.zero? %>
  <h4 class="word-answer">Désolé, tu ne gagnes pas de point pour cette partie !</h4>
  <h2 class="word-answer">Une solution possible était: <%= @party.word %></h2>
<% else %>
  <h2 class="word-answer"><%= @party.word %></h2>
<% end %>

<div class="card p-3 mt-3">
  <h3 class="font-bold">Les 10 meilleurs réponses</h3>
  <div class="d-flex justify-content-around">
    <div>
      <% @ten_solutions[0..4].each do |solution| %>
        <p class="font-bold p-1"><%= solution %></p>
      <% end %>
    </div>
    <div>
      <% if @ten_solutions.size > 5 %>
        <% @ten_solutions[5..9].each do |solution| %>
          <p class="font-bold p-1"><%= solution %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

  <% if @number_of_parties == 5 %>
    <div class ="pt-3">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Rejouer</button>
    </div>
  <% else %>
  <div class="pt-3">
    <%= link_to "Rejouer", root_path, class: "btn btn-primary" %>
  </div>
  <% end %>
  
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" id="modal-header-scores">
        <h1 class="modal-title" id="modal-title-scores">Game terminée !</h1>
      </div>
        <% @parties.each_with_index do |party, index| %>
          <div class="modal-body">
            <h3><%= index + 1 %>. <strong><%= party.ten_letters_list %></strong> - <%= party.score %> points</h3>
            <% if party.score.zero? %>
              <p>Aucun mot trouvé</p>
            <% else %>
              <p>Ta réponse: <%= party.word %></p>
            <% end %>
          </div>
        <% end %>
      <div class="modal-footer" id="modal-footer-scores">
        <h1>TOTAL : <%= @game_score %> points</h1>
        <%= link_to "Rejouer ?", root_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>




