<div class="d-flex justify-content-between color-white font-bold">
  <div>
    <p>Nbr de games: <%= @number_of_games %></p>
    <p>Nbr de parties: <%= @number_of_parties %>/5</p>
  </div>

  <div class="text-right">
    <p>Meilleur score: <%= @best_score %></p>
    <p>Score actuel: <%= @game_score %></p>
  </div>
</div>

<%= render 'shared/grid', letters: @party.ten_letters_list %>

<h2 class="word-answer"><%= @party.word %></h2>

<div class="card p-3 mt-3 bdr-16">
  <h3 class="font-bold color-blue">Les 10 meilleurs réponses</h3>
  <div class="d-flex justify-content-around">
    <div>
      <% if @ten_solutions %>
        <% @ten_solutions[0..4].each do |solution| %>
          <div class="font-bold p-1"><%= solution %></div>
        <% end %>
      <% end %>
    </div>
    <div>
      <% if @ten_solutions && @ten_solutions.size > 5 %>
        <% @ten_solutions[5..9].each do |solution| %>
          <div class="font-bold p-1"><%= solution %></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="pt-3">
  <%= link_to "Rejouer", root_path, class: "btn btn-primary" %>
</div>
